@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Thin.woff") format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraLight.woff") format("woff");
  font-weight: 200;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts//Inter-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Karantina";
  src: url("../fonts/Karantina-Regular.woff") format("woff");
  font-weight: 400;
}
