@mixin upToMobile {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @include upToMobile {
    max-width: 320px;
  }
  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop {
    width: 1440px;
    padding-left: 104px;
    padding-right: 104px;
  }
}
